/fcitx/dbus
/BraveSoftware/Brave-Browser
/fish
/go/telemetry/local
/gtk-3.0
/gtk-4.0
/himalaya
/htop
/ibus/bus
/mimeapps.list
/ncspot
/nmrs
/nwg-look
/pavucontrol.ini
/performous
/pulse
/qt6ct
/systemd/user/graphical-session.target.wants
/termusic
/tuisic
/xsettingsd
/xytz
/QtProject
/QtProject.conf
/assets
/btop
/cliamp
/dconf
/fcitx5
/fcitx5
/fcitx5
/fcitx5
/fcitx5
/fcitx5
/electron-flags.conf
/mozilla/firefox
/youtube-tui
